<ion-view view-title="注册">
    <ion-nav-buttons side="left">
        <button class="button icon-left ion-ios-arrow-left button-clear button-linght" ng-click="back()"></button>
    </ion-nav-buttons>
    <ion-content class='has-tabs'>
        <form name=reg >
            <div class="list css-valid-form">
                <div class="item item-input item-avatar-right headImg_40 text-midel" style="padding-top:6px;padding-bottom:6px;" ng-click="showGetImagesheet()">
                    <img ng-src="{{mideApp_user_reg.avatar_url||'img/commentfailure.jpg'}}" style="width:100%"> 头像
                </div>
                <label class="item item-input">
                    <span class="input-label">账号:</span>
                    <input type="text" ng-model="mideApp_user_reg.username" placeholder="长度6~32位，字母或数字组合" required ng-minlength="6" ng-maxlength="32">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码:</span>
                    <input type="password" ng-model="mideApp_user_reg.password" placeholder="至少6位，字母或数字组合" ng-minlength="6" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">确认密码:</span>
                    <input type="password" ng-model="mideApp_user_reg.confirmPassword" placeholder="再输入密码" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">性别:</span>
                    <input type="text" ng-model="mideApp_user_reg.gender" placeholder="请选择性别" ng-click="showGendersheet()" readonly="readonly" class="light" style="background:#fff">
                </label>
                <label class="item item-input" ng-click="getDate()">
                    <span class="input-label">出身年月:</span>
                    <span class="" ng-show="mideApp_user_reg.birthday" >{{mideApp_user_reg.birthday|date:"yyyy-MM-dd"}}</span>
                    <span class="tips-info" ng-show="!mideApp_user_reg.birthday">请选择日期</span>
                    <input type="hidden" ng-model="mideApp_user_reg.birthday"  placeholder="请选择日期"  />
                </label>
                <label class="item item-input">
                    <span class="input-label">联系电话:</span>
                    <input type="tel" ng-model="mideApp_user_reg.phoneNumber" placeholder="11位数字" maxlength='11'  ng-pattern="/^[0-9]{11}$/" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">邮箱:</span>
                    <input type="email" ng-model="mideApp_user_reg.email" placeholder="请输入邮箱"  ng-pattern="/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">QQ:</span>
                    <input type="text" ng-model="mideApp_user_reg.QQnumber" placeholder="请输入QQ号码" ng-pattern="/^[0-9]*$/" ng-minlength="5" required>
                </label>
            </div>
            <div class="padding">
                <div class="row">
                    <dov class="col"><a class="button button-block button-positive " ng-click=doReg(0) ng-disabled=reg.$invalid>提交</a>
                    </dov>
                    <dov class="col">
                        <a class="button button-block button-positive" ng-click="showReForHelpModal()" ng-disabled=reg.$invalid>注册求助者</a>
                    </dov>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
