<!--  <ion-header-bar class="bar-positive">
    <h1 class="title">网益公益</h1>
 </ion-header-bar> -->
<ion-view view-title="网益公益">
    <ion-content class=" has-tabs " has-bouncing="true" delegate-handle="mainScroll">
        <ion-refresher pulling-text="下拉刷新..." spinner="spiral" on-refresh="doRefresh()" class="wg_spinner">
        </ion-refresher>
        <ion-slide-box  class="slidebox"  auto-play="true" slide-interval="4000" does-continue="true" style="overflow: hidden;width:100%;" ng-if="banners" delegate-handle="topicsBanner">
            <div class="slider-slide" ng-repeat="banner in banners">
                <div class="box" style="position: relative;">
                    <img  src="img/defaultImg.png" defaultsrc="{{banner._iconurl}}" alt="微光公益" id="banner{{banner._id}}" style="width:100%;height:auto;" default-img />
                </div>
            </div>
        </ion-slide-box>
        <div class="">
            <div class="row" style="padding:0;">
                <div class="col">
                    <button class="button button-block button-positive" ng-click="showNewTopicModal()" style="margin:0;">
                        我要求助
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-positive" ng-click="showNewHelpModal()" style="margin:0;">
                        我要助人
                    </button>
                </div>
            </div>
        </div>
        <div ng-if="config.topics.length <1"  style="height:100%;color:#e6e6e6;padding:20px;">
            <i class="ion-chatbubble-working center" style="font-size:80px;"></i>
            <div  class="center"  style="font-size:20px;color:#afafaf;">没有获取到数据,请下拉刷新</div>
        </div>
        <div class=" list topics" ng-if="config.topics">
            <!--    <div class="item item-divider">求助列表</div> -->
            <div class="item item-avatar" collection-repeat="topic in config.topics" collection-item-width="'100%'" collection-item-height="65px" ng-click="showTopicModal(topic.HelpRequest._id)">
                <img src='img/commentfailure.jpg' defaultsrc="{{topic.Author._photourl|avatarFilter}}" default-img />
                <!-- reset-img   -->
                <h2>
                <span style="padding-right:20px;">{{topic.HelpRequest._title}}</span> <span class="item-note ago" am-time-ago="topic.HelpRequest._createdate" vam-preprocess="unix" style="position: absolute;right: 10px;"></span></h2>
                <p class="summary">
                    <span ng-if="topic.HelpRequest._type==1" class="tab status1">求助</span>
                    <span ng-if="topic.HelpRequest._type==2" class="tab status3">助人</span>
                    <span class="tab">发起人:</span> {{topic.Author._nickname}}
                    <span ng-if="topic.HelpRequest._status==0" class="tab status1 item-note">寻找中</span>
                    <span ng-if="topic.HelpRequest._status==1" class="tab status2 item-note">已配对</span>
                    <span ng-if="topic.HelpRequest._status==2" class="tab status4 item-note">已完成</span>
                   
                </p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="infinite()" distance="1%" ng-if="config.infinite" spinner="spiral" class="wg_spinner"></ion-infinite-scroll>
        <!-- <ion-spinner class="topic-spinner" ng-show="!config.topics" ng-style="{'top':0px'}"></ion-spinner> -->
    </ion-content>
</ion-view>
