<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-light {{hideTabs}}" ng-class="tabsHidden2">
    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/topics">
        <ion-nav-view name="tab-topics"></ion-nav-view>
    </ion-tab>
    <ion-tab title="活动" icon-off="ion-ios-people-outline" icon-on="ion-ios-people-outline" href="#/tab/activity">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>
    <ion-tab title="礼品店" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart-outline" href="#/tab/gift">
        <ion-nav-view name="tab-gift"></ion-nav-view>
    </ion-tab>
    <ion-tab title="个人设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear-outline" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
